<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TeamShout.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B24AB0EA4CB2AB5E40CD1EDEB1DD4FED2D837A04</string>
				<key>dateExpires</key>
				<string>19/04/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V77DBN8C49.com.bigjump.teamshoutapp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V77DBN8C49</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>TeamShout.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>13ff956e-0833-4ab5-aca2-e95f9b746496</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.bigjump.teamshoutapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V77DBN8C49</string>
				<key>name</key>
				<string>BigJump Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
